<div class="row my-4">
  <div class="col col-md-3">
    <%= image_tag(@card.images.large, alt: @card, title: @card, class: "img-fluid") %>
  </div>
  <div class="col">
    <h1 class="font-bold text-4xl">
      <%= @card.name %>
      <% @card.types&.each do |t| %>
        <i class="energy <%= t.downcase %>"></i>
      <% end %>
    </h1>
  </div>
</div>
<div class="row my-4 gx-2">
  <% @card.alternates.each do |card| %>
   <div class="col"><%= link_to image_tag(card.images.small, alt: card, title: card, class: "img-fluid"), card %></div>
  <% end %>
</div>
<div class="row my-4 gx-2">
  <% @card.similar_cards.each do |card| %>
   <div class="col"><%= link_to image_tag(card.images.small, alt: card, title: card, class: "img-fluid"), card %></div>
  <% end %>
</div>
