<div class="row my-4">
  <div class="col col-md-3">
    <%= card_image(@card) %>
  </div>
  <div class="col">
    <h1 class="font-bold text-4xl">
      <%= @card.name %>
      <% @card.types&.each do |t| %>
        <i class="energy <%= t.downcase %>"></i>
      <% end %>
    </h1>
  </div>
</div>
<div class="row my-4 gx-2">
  <% @card.printings.each do |card| %>
   <div class="col"><%= link_to card_image(card, size: :small), card %></div>
  <% end %>
</div>
<div class="row my-4 gx-2">
  <% @card.similar_cards.each do |card| %>
   <div class="col"><%= link_to card_image(card, size: :small), card %></div>
  <% end %>
</div>
