<!DOCTYPE html>
<html>
  <head>
    <title>Deckshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "energy", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="page-header">
      <h1 class="home-link"><%= link_to("Deckshare", root_url) %></h1>
      <div class="user-menu">
        <% if current_user? %>
          <%= link_to(current_user, user_path) %>
          <%= link_to("Log out", session_path, "data-turbo-method": :delete) %>
        <% else %>
          <%= link_to("Log in", new_session_path) %>
        <% end %>
      </div>
    </header>
    <main class="page-container">
      <%= yield %>
    </main>
  </body>
</html>
